﻿@page "/"
@namespace logger.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>logger</title>
    <base href="~/" />
    <link href="logger.styles.css" rel="stylesheet" />
    <link href="global.css" rel="stylesheet" />

</head>
<body>
    <component type="typeof(App)" render-mode="Server" />


    <script src="_framework/blazor.server.js"></script>
</body>
</html>
