﻿@using logger.Data
@inject LogsService LogsService

@if (processNames == null)
{
    <p><em>Loading...</em></p>
}
else
{
@foreach (var processName in processNames)
{
    var link = $"process/{processName}";
    <div class="menu-buttons">
        <NavLink href="@link" Match="NavLinkMatch.All" class="menu-buttons">
            @processName
        </NavLink>
    </div>
}
}

@code {
    private List<string> processNames;

    protected override async Task OnInitializedAsync()
    {
        processNames = await LogsService.GetProcessNames();
    }
}
